header{
    background-color: #f39529 ; 
    text-align: center; 
    color: #E5E7E7 ;
 }
 body{
    background-color : #4cf5f5 ;
    color: #eceff0;
    font-family: montserrat;
}		
footer{
    background-color: #f39529 ; 
     text-align: center; 
     color: #E5E7E7 ;
 }
